@import "../pui-variables";
@import "./input.scss";

form {
  abbr {
    padding-left: 4px;
    border-bottom: 0 !important; // something else is doing "abbr:title {border-bottom: 1px dotted #999999}"
  }
}

.form-inline {
  * {
    width: auto;
    display: inline-block;
    margin-right: 8px;
  }
}

.form-group {
  margin-bottom: 16px;
}

label {
  margin-bottom: 4px;
  line-height: $pui-line-height-medium;
  font-size: $font-size-small;
  color: $form-label-color;
}

.help-block {
  display: block;
  margin-top: 4px;
  margin-bottom: 8px;
}